* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#map { 
    margin: 20px;
    border-radius: 20px;
    height: 300px; 
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#heading {
    text-align: center;
    padding: 20px;
    background-color: #4287f5;
    color: white;
    border-radius: 5px;
}

#heading h1 {
    font-size: 36px;
    margin-top: 10px;
}

#imgTubo {
    border-radius: 50%;
    border: 3px solid white;
    max-width: 150px;
}

#menu {
    text-align: center;
    margin-top: 20px;
}

#inputLocation {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

#btnDisplay {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4287f5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#data {
    margin-top: 20px;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btnDaySelection {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4287f5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#divDaySelection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#textDay {
    font-size: 20px;
    margin: 0 20px;
}

.btnDaySelection:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#divTemp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#maxTemp, #minTemp {
    font-size: 20px;
    margin: 0 20px;
}

#weatherSlider {
    text-align: center;
    margin-top: 20px;
}

#timeSlider {
    width: 80%;
}

#selectedTime {
    margin-top: 10px;
    font-weight: bold;
}
